<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Icarus</title>
</head>
<body>
<h1>Weekly testing data</h1>
<ul>
  <li><a href="/secure/bostoncollege">Boston College</a></li>
  <li><a href="/secure/columbia">Columbia</a></li>
  <li><a href="/secure/dartmouth">Dartmouth</a></li>
  <li><a href="/secure/duke">Duke</a></li>
  <li><a href="/secure/harvard">Harvard</a></li>
  <li><a href="/secure/northeastern">Northeastern</a></li>
  <li><a href="/secure/princeton">Princeton</a></li>
</ul>
<p>
  <a href="/Shibboleth.sso/Logout">Logout</a>
</p>
</body>
</html>
